version: '3.8'

services:
  # DB
  db:
    image: postgres:15-alpine
    container_name: umkm_db
    restart: always
    env_file: .env
    dns:
      - 8.8.8.8
      - 8.8.4.4
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # BE
  backend:
    build: .
    container_name: umkm_backend
    ports:
      - "${PORT}:${PORT}"
    environment:
      - DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@db:5432/${DB_NAME}?schema=public
      - JWT_SECRET=${JWT_SECRET}
    depends_on:
      - db
    volumes:
      - .:/app
      - /app/node_modules

volumes:
  postgres_data: